<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter sdsdasd</h1>
      </ion-header-bar>

      <ion-content style="background-color:#285e8e;">
      <div ng-controller="MainController">
		  <div class="row">
				<button class="button button-light col-sm-6" ng-click="embaralhar(9)">Embaralhar</button>
				<button class="button button-light col-sm-6 col-sm-offset-6">Resolver</button>
		  </div>
          <br/><br/>
          <div ng-repeat="(index1, linha) in matrizJogo" class="col-sm-6 col-sm-offset-3" style="margin-bottom:3px;">
              <div ng-repeat="(index2, coluna) in linha"  style="width:32%;margin:1px;float:left;">
                  <img  id="{{coluna}}" ng-src="img/nyan_cat/{{coluna}}.gif"
                       ng-show="coluna != 'nada'" style="width:100%;display:block;"
                       on-drag-right="move('right', index1, index2)" on-drag-up="move('up', index1, index2)"
                       on-drag-down="move('down', index1, index2)" on-drag-left="move('left', index1, index2)">
                  <img style="width:100%;margin:1px;border:none;" ng-show="coluna == 'nada'"> </img>
              </div>
			  <div style="clear: both;"></div>
          </div>
      </div>
      </div>
      </ion-content>
    </ion-pane>
  </body>
</html>